[init]
	defaultBranch = main
[user]
	name = adxmantium
	email = ajadams10@gmail.com
[core]
  editor = nvim
  fsmonitor = true
  untrackedcache = true
[alias]
  # standard push without remembering branch name
  up = "!git push origin $(git branch --show-current)"
  # force push up
  theeffup = "!git push --force-with-lease origin $(git branch --show-current)"
  # script to safely & quickly delete multiple branches with a preview
  del = "!~/.dotfiles/scripts/git/delete_branches.sh"
  # git add wrapper
  fa = "!git status -s | awk '{print $2}' | fzf --multi --preview 'git diff --color=always {}' | xargs git add && git status"
  # git restore wrapper
  fr = "!git status -s | awk '{print $2}' | fzf --multi --preview 'git diff --color=always {}' | xargs git restore && git status"
  # git restore --staged wrapper
  frs = "!git status -s | awk '{print $2}' | fzf --multi --preview 'git diff --staged --color=always {}' | xargs git restore --staged && git status"
